.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.head-top{
    display: block;
    background: #000000;
    color: #FFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    letter-spacing: .03em;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 7px;
    transition: all .3s;
}

.why{
    padding-top: 1rem;
    background-color: #e5e5e5;
}

.title-section h2{
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
    color: red;
    font-weight: 700;
}

.service{
    background-color: #ffffff;
}
.content-service{
    display: block;margin: 0 auto;
}
.btn-primary{
    display: block;
    margin: 0 auto;
    justify-content: center;
    max-width: 6rem;
    font-size: 14px;
    text-align: center;
}

.btn-outline-success{
    border-radius: 20px;
    background-color: black;
    color: #ffffff;
}

.sprite-search {
    width: 20px;
    height: 27px;
    background-position: -271px -136px;
}

.card-text{
    text-align: center;
}

.card-title{
    text-align: center;
}

.nav-tabs{
    justify-content: center;
    font-weight: 700;
}

